---
layout: default
---
{% assign proj_scholar = site.scholars | where: "name", page.main_scholar | first %}

<div class="row" aria-text="project information">
<h2 class="col s12 m12 header" style="width: fit-content"> {{ page.title }} </h2>
{% assign scholar_list = site.scholars | map: "name"  %}

<h4 class="col s12 m12">
{%- for scholar in page.scholars_involved -%}
    {%- if scholar_list contains scholar -%}
        {%- assign scholar_url = site.scholars | where: "name", scholar | map: "url" -%}
        <a href="{{- scholar_url -}}">{{- scholar -}}</a>
    {%- else -%}
         {{- scholar -}}
    {%- endif -%}{% if forloop.last == false %}, {% endif %} 
{%- endfor -%} 
</h4>
<div class="col s12 divider"></div>
<div class="section col s12">
<h4 class="header">DESCRIPTION:</h4>
<blockquote class='flow-text'> {{- page.content -}} </blockquote>
</div>
</div>