---
layout: default
---
<div class="row" aria-text="collection information">
<h2 class="col s10 offset-s1 offset-m1 header" style="width: fit-content"> <b>{{ page.title }}</b> | {{ page.years_covered }}</h2>
<h4 class="col s10 offset-s1"> <b>Document Types:</b> {{ page.document_types | join: ', '}} </h4>
<div class="col s10 offset-s1 divider"></div>
<div class="section col s10 offset-s1">
<h4 class="header"><b>Description:</b></h4>
<blockquote class='flow-text'> {{ page.content }} </blockquote>
<h5 class="col s9 offset-s2"> <a href ="{{ page.url_to_collection }}"> View this collection on Wilson Special Collection Library's Website </a> </h5>
</div>
</div>